<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.home">
    <application>
        <activity android:name=".view.InvestActivity"></activity>
        <activity android:name=".view.PaymentActivity"></activity>
        <activity android:name=".alipay.AliPayActivity"></activity>
    </application>
</manifest>
