<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.usercenter">

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
            android:name=".app.UserCenterApp"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
    >
        <activity android:name=".view.LoginActivity">

        </activity>
        <activity android:name=".view.ModifyPwdActivity"></activity>
        <activity android:name=".view.RegisterActivity"></activity>
        <activity android:name=".view.MainLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
